
     <!-- NOTICIAS-->
     <section id="noticias"  data-stellar-background-ratio="0.5" {{attributes}}>
          <div class="container ">
               <div class="row">
                     <div class="col-md-12 col-sm-6">
                     <h2>Noticias </h2>
                         {{content.field_noticias}}
                     </div>
                     <!--
                      <div class="col-md-8 col-sm-6">
                         {{content.field_eventos}}
                     </div>
                     -->
                     
                   
               </div>
          </div>
     </section>

 