                
                         <!-- MENU THUMB -->
                         <div class="menu-thumb">

                         		 
                         		{% if fields.nid.content == '<div><span>47</span></div>' %}
                         		<h1> ok </h1>
                         		{% else %}
                               <h4>{{fields.title.content}}</h4>
                               {% endif %}
                     
                                    <img src="{{fields.field_image.content}}" class="img-responsive icono" alt="">                               
                 

  							<p> {{fields.body.content}}</p>
                         </div>
              


             