                
                         <!-- MENU THUMB -->
                         <div class="menu-thumb">
                               <h4>{{fields.title.content}}</h4>
                               <a href="{{fields.field_image.content}}" class="image-popup" >
                                    <img src="{{fields.field_image.content}}" class="img-responsive" alt="">

                                  
                              </a>
  
                         </div>
              


             